{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "react/sort-comp": "error",
    "semi": [2, "never"],
    "quotes": [2, "single"]
  }
}
